@tailwind base;
@tailwind components;
@tailwind utilities;


.back-img {
  background-image: url('./assets/home/mobile/image-header.jpg');
  background-blend-mode:difference;
  background-position: center;
  background-size: cover;
}

@media  (min-width:768px) {
  .back-img {
    background-image: url('./assets/home/tablet/image-header.jpg');
    background-blend-mode:difference;
  }
}

@media  (min-width:1024px) {
  .back-img {
    background-image: url('./assets/home/desktop/image-hero.jpg');
    background-blend-mode:difference
  }
}

.bg-circles {
  background-image: url('./assets//home//desktop/pattern-circles.svg');
  background-size: cover;
  background-position: center;
}

.orangeHover {
  @apply hover:text-orange transition-all duration-300 cursor-pointer select-none
}

.singleProduct {
  @apply bg-pureWhite flex flex-col space-y-[7rem] px-[1.3rem] md:px-[2.3rem] py-[7rem] lg:px-[7.3rem]
}

.show-mobile {
  @apply w-full md:hidden 
}

.show-tablet {
  @apply w-full hidden md:block lg:hidden
}

.show-desktop {
  @apply w-full hidden lg:block
}