@tailwind base;
@tailwind components;
@tailwind utilities;


.back-img {
  background-image: url('./assets/home/mobile/image-header.jpg');
  background-blend-mode:difference;
  background-position: center;
  background-size: cover;
}

@media  (min-width:768px) {
  .back-img {
    background-image: url('./assets/home/tablet/image-header.jpg');
    background-blend-mode:difference;
  }
}

@media  (min-width:1024px) {
  .back-img {
    background-image: url('./assets/home/desktop/image-hero.jpg');
    background-blend-mode:difference
  }
}

.bg-circles {
  background-image: url('./assets//home//desktop/pattern-circles.svg');
  background-size: cover;
  background-position: center;
}